
.top-icons {
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

body {
  margin: 0;
  background: #060B17;
}

.container {
  height: 50vh; /*viewport height*/
  justify-content: space-between;
  padding-top: 0%;
  padding-bottom: 33vh;

}

.title {
  position: absolute;
  font-family: 'futura';
  font-weight: bolder;
  font-size: 8em;
  margin-top: 2%;
  margin-left: 3%;
  /*
  z-index: 3;
  */
  color: #800000;
}

.close-icon {
  margin-top: 4%;
  margin-left: 3%;
  margin-right: 3%;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end; /*여백 나눠가지기*/

}

.main-image {
  padding-top: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2%;
  justify-content: space-between;
}

.body-image {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2%;
  justify-content: space-between;
}

/*
.index-information {
  position: absolute;
  margin-top: 380px;
  margin-left: 80px;
  z-index: 4;
  font-weight: bold;
}
*/
p0 {
  color: #800000;
  font-size: 0.95em;
  font-family: 'futura';
}

.container-information {
  z-index: 1;
  position: absolute;
  padding-top: 330px;
  padding-left: 25%;
  padding-right: 25%;
  margin: auto;

  font-family: 'futura';
  font-size: 1.1em;
  text-align: justify;
}

p1 {
  color: #A9A9A9;
}

h2 {
  color: #C0C0C0;
  font-family: 'futura';
}

a:link {
  color: #A9A9A9;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #C0C0C0;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #007F00;
  background-color: transparent;
  text-decoration: underline;
}

/*--------------저작권 표기--------------*/
.item-copyright{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
  justify-content: space-between; /*여백 나눠가지기*/
  font-family: 'futura';
}

p2 {
  color: #800000;
  font-size: 0.8em;
}
/*--------------home으로 돌아가기--------------*/
.item-backtohome{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.4em;
  justify-content: space-between; /*여백 나눠가지기*/
}

p3 {
  color: #800000;
  font-size: 1.3em;
  font-family: 'futura';
  font-weight: bold;
}
