top-icons {
  padding-top: 10vw;
  padding-left: 10vw;
}

body {
  margin: 0;
  padding: 0;
  height: 4500px;
  width: 1000px;
  font-size: 8em;
  background-color: #f74239;
  display: flex;
  flex-direction: column;
  align-items: center;

  /*border: 1px solid purple;*/

}

/*----------------고정 메뉴 -----------------------*/

.POSITION_FIXED {
  margin-left: 30px;
  position: fixed;
  z-index: 100;
}

.profile {
  font-family: 'futura';
  font-weight: bolder;
  font-size: 1.2em;
  color: #ffffff;
  z-index: 10;
}

.WORK_CONTACT {
  margin-left: 20px;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;

  /*border: 1px solid green;*/
}

.fixed {
  margin: 0;
  display: inline-block;
  font-family: 'futura';
  font-weight: bold;
  font-style: italic;
  font-size: 0.9em;
  z-index: 11;
  /*border: 1px solid blue;*/
}


/*----------------여기서부터 컨테이너 -----------------------*/
.container {
  height: 4500px;
  /*border: 1px solid red;*/
  /*border: 1px solid blue;*/
}


/*----------------여기서부터 바디 -----------------------*/
.container-body{
  display: flex;
  /*background-color: blue; -> 메인 이미지 부분 영역 확인용*/

  height: 4300px; /*메인 이미지들 있는 부분 영역*/

  /*border: 1px solid green;*/
}

.main {
  margin: 50px;
  padding: 200px 0 0 0;
  /*
border: 1px solid blue;  */

}

.profile_image {
  position: relative;
}

.img-eye {
  position: absolute;
  top: 90px;
  left: 100px;
}
.img-foot {
  position: absolute;
  left: 340px;
  top: 300px;
}
.img-mouth {
  position: absolute;
  left: 100px;
  top: 630px;
}
.img-hand-1 {
  position: absolute;
  left: 400px;
  top: 1200px;
}
.img-hand-2 {
  position: absolute;
  left: 120px;
  top: 1900px;
  transform: rotate(-120deg);

}
.img-hand-3 {
  position: absolute;
  left: 30px;
  top: 2200px;
  transform: rotate(-150deg);
}
.img-hand-4 {
  position: absolute;
  left: 120px;
  top: 2400px;
  transform: rotate(-200deg);
}

.img-nose {
  position: absolute;
  left: 100px;
  top: 1400px;
}
.img-eyebrow {
  position: absolute;
  left: 400px;
  top: 2800px;
}


/*--------------BOTTOM--------------*/
.bottom {
  height: 200px;
  width: 1200px;
  position : relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content:flex-end;

  /*border: 1px solid black;*/


}
/*--------------home으로 돌아가기--------------*/
.item-backtohome{

  display: inline-block;
  font-size: 20px;
    padding-bottom: 0.4em;

    color: #800000;
    font-size: 20px;
    font-family: 'futura';
    font-weight: bold;
  /*border: 1px solid black;*/
}


/*--------------저작권 표기--------------*/
.item-copyright{

  display: flex;
  font-size: 15px;
  padding-bottom: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'futura';
  color: #800000;

  /*border: 1px solid black;*/
}




/*--------------link 설정 관련--------------*/
a:link {
  color: #6800A0;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #6800A0;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #800000;
  background-color: transparent;
  text-decoration: underline;
}
