top-icons {
  padding-top: 10vw;
  padding-left: 10vw;
}

body {
  height: 200vh;
  font-size: 8em;
  background-color: #f74239;
  justify-content: space-between;
}

.POSITION_FIXED {
  margin-left: 30px;
  position: fixed;
  z-index: 100;
}

.profile {
  font-family: 'futura';
  font-weight: bolder;
  font-size: 1.2em;
  color: #ffffff;
  z-index: 10;
}

.WORK_CONTACT {
  font-family: 'futura';
  font-weight: bold;
  font-style: italic;
  font-size: 0.9em;
  z-index: 11;
}

.main {
  display: block;
  /*background-color: blue; -> 메인 이미지 부분 영역 확인용*/
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  height: 280vh; /*메인 이미지들 있는 부분 영역*/
}

.profile_image {
  padding-top: 400px;
  display: block;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-content: center;
}

/*--------------BOTTOM 표기--------------*/


/*--------------저작권 표기--------------*/

.item-copyright{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /*여백 나눠가지기*/
  font-family: 'futura';

}

/*--------------home으로 돌아가기--------------*/
.item-backtohome{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: between; /*여백 나눠가지기*/
}

.bottom {
  display: block;
  /*background-color: green; 밑에 표기 부분 범위 체크용*/
  padding-bottom: 30px;
}

p2 {
  color: #800000;
  font-size: 0.1em;
  font-family: 'futura';
}

p3 {
  color: #800000;
  font-size: 0.2em;
  font-family: 'futura';
  font-weight: bold;
}

/*--------------link 설정 관련--------------*/
a:link {
  color: #6800A0;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #6800A0;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #800000;
  background-color: transparent;
  text-decoration: underline;
}
